mainmenu "Anckor Kernel Configuration"

menu "build type"

config build_debug
	bool "debug build"
	default y
	help
	  	compile kernel with debug flags

endmenu

menu "kernel"

source "kernel/Kconfig"

endmenu

menu "platform"

source "platform/Kconfig"

endmenu

menu "arch"

source "arch/Kconfig"

endmenu

menu "drivers"

source "drivers/Kconfig"

endmenu

menu "lib"

source "lib/Kconfig"

endmenu

menu "tests"

source "tests/Kconfig"

endmenu

